<style>
    div.mid-section {
        width: 400px;
        margin: 80px auto;
        font-family: arial;
    }
</style>

<div class="mid-section">
  <div class="ui form segment" ng-controller="RegisterController">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <div class="ui icon input">
          <%= f.email_field :email, autofocus: true %>
          <i class="asterisk red icon"></i>
        </div>
      </div>

      <div class="field">
        <%= f.label :password %>
        <div class="ui icon input">
          <%= f.password_field :password, autocomplete: "off" %>
          <i class="asterisk red icon"></i>
        </div>
      </div>

        <div class="inline field">
          <div class="ui checkbox">

            <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
            <% end %>

          </div>
        </div>

      <div><%= f.submit "Log in",  class: "ui blue button" %></div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>